
/* Layout dos formulários */
form {
    width: 100%;
    max-width: 500px;
    margin: 50px auto; 
    display: flex;
    flex-direction: column; 
    line-height: 1; 
}

form label {
    display: flex;  /* Faz os elementos filhos da label (texto e input) ficarem na mesma linha */
    align-items: center; 
    margin-bottom: 10px;   
}

form input,
form textarea,
form select {
    width: 100%;
    margin-left: 0;
    resize: none; 
    padding: 10px; 
    margin-bottom: 0px; 
}

form input[type="radio"],
form input[type="checkbox"] {
    width: auto; 
    margin-left: 10px; 
}

form button {
    display: block;
    width: 100%; 
    padding: 12px;
}

/* Estilo geral para o formulário */
form {
    padding: 20px; 
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif; 
}

form input,
form textarea,
form select {
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
    box-sizing: border-box;
    background-color: #e7e6e6;
}

form input:focus,
form textarea:focus,
form select:focus {
    outline: none;
    border-color: #4caf50;
    box-shadow: 0 0 4px rgba(76, 175, 80, 0.6); 
}

form p {
    font-weight:  bold;
    font-size:18px;
    text-align: left; 
}

form label {
    color: #333;
    font-size: 16px;
}

input[type="submit"]{
    padding: 12px;
    background-color: #D6ABAB;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover{
    transform: scale(1.05); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

fieldset {
    border: 2px solid #ccc; 
    padding: 20px;
    border-radius: 8px;
}