body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%; /* Ocupa 100% da altura do navegador */
}

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
    display: block;
    max-width: 100%;
    margin-top: 1em;
}

.overlayText {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    font-size: 2em;
}

#navigationBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    text-align: center;
}

#navigationBar h1, #navigationBar h2 {
    margin: 0;
}

#logo {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "logo title1" "logo title2";
    padding-right: 1em;
}

#logo img {
    grid-area: logo;
    width: 70px;
    margin-right: 1em;
}
#logo h1 {
    grid-area: title1;
}
#logo h2 {
    grid-area: title2;
}

#menu {
    display: flex;
    align-items: center;
}

#menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 1.5em;
}

#menu ul li {
    margin-right: 1em; /* Adjust spacing as needed */
}

#signup {
    display: flex;
    align-items: center;
}

article {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    gap: 1em; /* Add gap between items */
}

article ul {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
    gap: 2.5em; /* Add gap between items */
    padding: 0;
    margin: 0;
    list-style: none; /* Remove bullet points */
}

article li a {
    display: flex; /* Use Flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    width: 200px; /* Set a fixed width for the buttons */
    height: 50px; /* Set a fixed height for the buttons */
}

article p {
    text-align: center;
    padding: 0em 5em;
}

/* Estrutura do formulário */
form {
    width: 100%;
    max-width: 500px;
    margin: 50px auto; /* Centraliza o formulário */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Organiza os filhos verticalmente */
}

form label {
    display: flex;  /* Faz os elementos filhos da label (texto e input) ficarem na mesma linha */
    align-items: center; /* Alinha os itens na vertical */
    margin-bottom: 10px;    /* Espaço entre as labels */
    font-size: 16px;
}

/* Campos de entrada (input, textarea, select) */
form input,
form textarea,
form select {
    width: 100%; /* Tamanho ajustável, sem forçar a largura a 100% */
    margin-left: 0; /* Espaço entre o texto e o campo de entrada */

}

form input[type="radio"],
form input[type="checkbox"] {
    width: auto; /* Set width to auto for radio inputs */
    margin-left: 10px; /* Optional: Keep the margin for consistency */
}

/* Botão */
form button {
    display: block; /* Ocupa uma nova linha */
    width: 100%; /* Botão ocupa toda a largura */
}

#authentication {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    min-height: 100vh;
    text-align: center;
}

.registration-form, .login-form {
    margin-bottom: 1em;
}

#authenticationLink:hover {
    text-decoration: underline;
}