/* Geral */
body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%; 
}

main {
    flex-grow: 1; /* Isso garante que o main ocupe o espaço restante disponível */
    overflow: auto; 
}

/* Footer layout */
.footer-container {
    display: flex;
    flex-wrap: wrap; /* Allows sections to wrap on smaller screens */
    justify-content: space-evenly;
    max-width: 1200px; 
    margin: 0 auto; /* Center the footer on the page */
    padding: 0 20px;
}

.footer-section {
    flex: 1 1 200px; 
    margin: 10px;
}

.footer-section form {
    display: flex;
    flex-direction: column; /* Stack input and button vertically */
    margin:0;
    padding: 0; 
}

/* Header  */
#navigationBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    text-align: center;
}

#navigationBar h1, #navigationBar h2 {
    margin: 0;
}

#logo {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "logo title1" "logo title2";
    padding-right: 1em;
}

#logo img {
    grid-area: logo;
    width: 70px;
    margin-right: 1em;
}

#logo h1 {
    grid-area: title1;
}

#logo h2 {
    grid-area: title2;
}

#menu {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 0;
    padding-bottom: 0;
    height: 2em;
}

#menu ul {
    height: 100%;
}

#menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 1.5em;
}

#menu ul li {
    margin-right: 1em; 
    align-content: center;
    justify-content: center;
}

/* Página inicial  */
.button-56, .button-74 {
    display: inline-block;
  }

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
    display: block;
    max-width: 100%;
    margin-top: 1em;
}

.overlayText {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 100%; 
}

#services {
    text-align: center;
    margin: 0;
    padding: 1rem;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.service-card {
      display: inline-block;
      width:300px;
      padding: 0 18px;
    }
    
.service-card p {
    margin: 0;
    padding:10px;
  
}

.msg_error {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

.msg_success {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}

article {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 1em; 
}

article ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 2.5em; 
    padding: 0;
    margin: 0;
}

article li a {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    width: 200px; 
    height: 50px; 
}

article p {
    text-align: center;
    padding: 0em 5em;
}

#authentication {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh;
    text-align: center;
}

.registration-form, .login-form {
    margin-bottom: 1em;
}

#navigationBar {
    position: sticky;
    top: 0;
    z-index: 100; 
}

/* Página das reviews */
#starReview {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 5px;
}

#review {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    justify-content: center;
    text-align: center;
}
.review-title-stars {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

#starReview {
    display: flex; 
    gap: 5px; 
}

/* Página Service Providers */
.mainContent {
    display: flex;
    flex-wrap: wrap; 
    align-items: flex-start; 
    justify-content: space-around; 
    gap: 2em; 
}

#scheduleForm,
#availability,
#scheduledServices {
    max-width: 600px;
    padding: 4em; 
    padding-top: 1em;
}

#week-navigation {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 1em; 
    margin-bottom: 1em;
}

#week-navigation p {
    margin: 0; 
}

/* AboutUs section */
.about-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 15px;
}

.ceo-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px; 
}

.ceo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 240px; 
}

/* Página Account*/
#medical-needs {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#medical-needs strong {
    margin-right: 10px;
}


/* Página Booking Request*/
.form-group label {
    display: flex;
    align-items: baseline; 
    margin-bottom: 8px; 
    font-size: 14px; 
    cursor: pointer; 
}

.form-group input[type="checkbox"] {
    margin-right: 8px;
}

#bookingcontent {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around; 
    gap: 2em;
}

#addBooking,
#availableProviders,
#scheduledServices {
    max-width: 600px; 
    padding: 3em; 
    padding-top: 1em;
}

#availableProviders {
    margin-top: 2em;
}
