body {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%; /* Ocupa 100% da altura do navegador */
    display: flex;
    flex-direction: column;
    min-height: 100%;  /* Garante que o body ocupe pelo menos 100% da altura da página */

}



    

.imageContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer img {
    display: block;
    max-width: 100%;
    margin-top: 1em;
}

.overlayText {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
    font-size: 2em;
    color: #eadfdff0;
  
}

#navigationBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5em 1em;
    text-align: center;
}

#navigationBar h1, #navigationBar h2 {
    margin: 0;
}

#logo {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: "logo title1" "logo title2";
    padding-right: 1em;
}

#logo img {
    grid-area: logo;
    width: 70px;
    margin-right: 1em;
}
#logo h1 {
    grid-area: title1;
}
#logo h2 {
    grid-area: title2;
}

#menu {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 0;
    padding-bottom: 0;
    height:2em;
}

#menu ul {
    height:100%;
}

#menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 1.5em;
}

#menu ul li {
    margin-right: 1em; /* Adjust spacing as needed */
    align-content: center;
    justify-content: center;
}


/* Services Section */
#services {
    text-align: center;
    margin: 0;
    padding: 1rem;
}

#services h2 {
    font-size: 2.2em; /* Tamanho ajustado */
    color: #333;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

/* Botões de Serviço */
.service-card {
    background: #E7CCCC;
    padding: 0.8rem 1rem; /* Menor padding */
    border-radius: 76px; /* Mais arredondado */
    width: auto; /* Largura ajustável ao conteúdo */
    max-width: 260px; /* Limite de largura */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #8d386e;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    text-align: center;
    overflow: hidden;
    border: 2px  #333; /* Adiciona uma borda suave */
    margin-bottom: 30px;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    background: #FAD1D1;
}

/* Ícones estilizados */
.service-card::before {
    content: attr(data-icon);
    font-size: 1rem; /* Menor ícone */
    display: block;
    margin-bottom: 0.5rem;
    color: #B88080;
   
}

/* Títulos e textos */
.service-card h3 {
    font-size: 1.2em; /* Ajustado */
    margin-bottom: 0.5rem;
    color: #8C5B5B;
}

.service-card p {
    font-size: 1em; /* Texto menor */
    line-height: 1.3;
    color: #333;
    margin: 0; /* Remove margens extras */
    padding:10px;
  
}

/* Responsividade */
@media (max-width: 768px) {
    .service-card {
        width: 90%;
    }

    .services-container {
        gap: 1rem;
    }
}

article {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    gap: 1em; /* Add gap between items */
}

article ul {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center; /* Center items horizontally */
    gap: 2.5em; /* Add gap between items */
    padding: 0;
    margin: 0;
    list-style: none; /* Remove bullet points */
}

article li a {
    display: flex; /* Use Flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    width: 200px; /* Set a fixed width for the buttons */
    height: 50px; /* Set a fixed height for the buttons */
}

article p {
    text-align: center;
    padding: 0em 5em;
}

/* Estrutura do formulário */
form {
    width: 100%;
    max-width: 500px;
    margin: 50px auto; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; 
}

form label {
    display: flex;  /* Faz os elementos filhos da label (texto e input) ficarem na mesma linha */
    align-items: center; 
    margin-bottom: 10px;   
    font-size: 16px;
}


form input,
form textarea,
form select {
    width: 100%;
    margin-left: 0;
    resize: none; /* Impede o redimensionamento */  
}


form input[type="radio"],
form input[type="checkbox"] {
    width: auto; 
    margin-left: 10px; 
}

form button {
    display: block;
    width: 100%; 
}

#authentication {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh;
    text-align: center;
}

.registration-form, .login-form {
    margin-bottom: 1em;
}

#authenticationLink:hover {
    text-decoration: underline;
}



#navigationBar {
    position: sticky;
    top: 0;
    z-index: 100; 
}


.mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto auto; /* Two rows */
    gap: 1em; /* Optional: Add some gap between grid items */
}

#scheduleForm {
    grid-column: 1 / 2; /* First column */
    grid-row: 1 / 2; /* First row */
}

#availability {
    grid-column: 2 / 3; /* Second column */
    grid-row: 1 / 2; /* First row */
}

#scheduledBookings {
    grid-column: 1 / 3; /* Span both columns */
    grid-row: 2 / 3; /* Second row */
}

/* Garante que o conteúdo principal expanda para preencher o espaço disponível */
body > *:not(footer) {
    flex: 1; /* Expande o conteúdo para preencher o espaço disponível */
}

/* FAQs*/
#faq-section {
    margin-top: 30px;
}

.faq-item {
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.faq-item:hover {
    background-color: #f7f7f7;
    transform: translateY(-5px);
}


.faq-item h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
}


.faq-item p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin: 0;
}


#faq-section {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

#FAQcontent h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    

}



/* Estilo para as seções */
#accountcontent {
    display: flex;
    justify-content: space-between; 
    gap: 10px; /* Espaçamento controlado entre os blocos */
    
  
}

 #accountcontent h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    
}
#accountcontent section {
    flex: 1; /* As seções ocupam proporcionalmente o mesmo espaço */
    padding: 20px;
    margin: 0; /* Remove a margem vertical */
    max-width: none; /* Permite que os blocos usem o espaço do flexbox */
}

#accountcontent section h2 {
    margin-left:40px;
    font-size: 2rem;
    color:  #0d0c0c;
    margin-bottom: 15px;
}


#accountcontent section p {
    font-size: 1.3rem;
    color: #555;
    margin: 10px 0;
    margin-left:40px;
    line-height: 2.5;
}

#petslInformation article {
    display: block; 

    padding: 20px; 
    margin-top: 15px; 
    }
  


#petslInformation article p {
    font-size: 1.1rem; 
    color: #333; 
    margin: 8px 0; 
    text-align: left; 
    padding-left: 0;
}

#petslInformation a {
    font-size:1.2rem;
    display: inline-block; 
    margin-top: 0; 
    color: #D6ABAB; 
    text-decoration: none;
    font-weight: bold; 
}

#petslInformation a:hover {
    text-decoration: underline; 
}


#accountcontent {
    font-family: 'Segoe UI', Tahoma,Verdana, sans-serif;
    padding: 60px 20px;
  
}

.account-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}



.staticTags:hover {
    transform: translateY(-5px); /* Efeito de elevação */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.staticTags h2 {
    font-size: 36px;
    color: #2C3E50;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
    letter-spacing: 1px;
}

.staticTags p {
    font-size: 18px;
    color: #7F8C8D;
    line-height: 1.8;
    text-align: left; /* Ajustado para alinhamento à esquerda */
    margin-bottom: 20px;
}

.staticTags p:last-child {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.staticTags p span {
    font-weight: bold;
    color: #2C3E50;
}

.pet-icon {
    width: 40px; 
    height: 40px; 
    margin-left: 12px; 
    vertical-align: middle; 
}

#pets legend{
    display:flex;
    align-items: center;
}

.pet-profile-pic {
    width: 150px !important; /* Força a largura */
    height: 150px !important; /* Força a altura */
    object-fit: cover !important; /* Força o ajuste da imagem */
    border-radius: 50% !important; /* Força o círculo */
}



/* AboutUs section */

#about-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
    padding: 60px 20px;
}
.about-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 15px;
}
.about-section {
    background-color: #fff;
    padding: 10px 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out; 
}
.about-section:hover {
    transform: translateY(-5px); /* Efeito de elevação */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}
.about-section h2 {
    font-size: 36px;
    color: #333;;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center; 
    letter-spacing: 1px;
}

.about-section p {
    font-size: 1.2rem;
    color: #333;;
    line-height: 1.8;
    margin-bottom: 15px;
}


#ceos {
    text-align: center;
    
}

#ceos h2 {
    font-size: 2.5rem;
    color: #333;;
    margin-bottom: 10px;
    font-weight: bold;
}

#ceos p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
}

.ceo-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px; 
}

.ceo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 240px; 
}


.ceo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    margin-bottom: 15px;
}


.ceo p {
    font-size: 1.1rem;
    color: #333;
}

/* Responsividade */
@media (max-width: 768px) {
    .ceo-container {
        flex-direction: column;
        align-items: center;
    }

    .about-section {
        padding: 20px;
    }

    #ceos h2 {
        font-size: 2rem;
    }

    #ceos p {
        font-size: 1rem;
    }

    .ceo img {
        width: 150px;
        height: 150px;
    }
}


#bookingcontent a {
    text-align: center;
    margin-top:20px
}