/* Messaging Styling */
/* Style for the chat box */
#chatBox {
    background-color: #f0f0f0; 
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto; /* centering */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadows */
    padding-bottom:1px;
}

/* Style for the chat messages */
#chatMessages {
    max-height: 250px; /* Adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-bottom: 20px;
    display: flex;
    flex-direction: column-reverse;
    gap: 2px;
}

/* Style for each message */
.senderMessage, .recipientMessage {
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    max-width: 80%;
    position: relative;
    display: inline-block;
}

/* Additional styles for sender and recipient messages */
.senderMessage {
    background-color: #f8d7da; /* Pink-ish background */
    align-self: flex-start;
    border-radius: 15px 15px 15px 0; /* Rounded corners with a tail on the left */
    padding: 10px;
    max-width: 60%; /* Adjust as needed */
    position: relative;
}

.recipientMessage {
    background-color: #B88080; /* Pink-ish background */
    align-self: flex-end;
    border-radius: 15px 15px 0 15px; /* Rounded corners with a tail on the right */
    padding: 10px;
    max-width: 60%; /* Adjust as needed */
    position: relative;
}

/* Style for the message content */
.messageContent {
    margin: 0;
}

/* Style for the message time */
.messageTime {
    font-size: 0.8em;
    color: #666;
    text-align: right;
    margin-top: 5px;
}

#messageForm {
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

#messageInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

#sendButton {
    background-color: #f8d7da; /* Pink-ish background */
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    width:2.5em;
}
