#menu {
    display: flex;
    align-items: center;
    position: relative;
}

#menuItems {
    display: flex;
}

#hamburger, .hamburger {
    display: none;
}

@media (max-width: 1104px) {

}

@media (max-width: 912px) {
    #menu {
        position: relative;
    }
    #hamburger {
        display: none !important; /* Forcefully hide the checkbox */
        visibility: hidden;       /* Additional hiding for extra measure */
        position: absolute;       /* Remove it from normal flow */
        width: 0;
        height: 0;
    }

    #menuItems {
        display: none; /* Hide menu items by default on small screens */
        flex-direction: column;
        position: fixed; /* Use fixed position so it always stays to the left of the hamburger */
        top: 0; 
        left: 0;
        width: 50%; 
        height: 100%; 
        background-color: #edeff0; 
        margin: 0;
        padding: 2em 1em;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); 
        z-index: 1;
        transform: translateX(-100%); /* Hide it to the left by default */
    }

    #menuItems li {
        list-style: none;
        padding: 1em 0;
        text-align: left;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }

    #menuItems li a {
        text-decoration: none;
        color: black;
    }

    #hamburger {
        display: block;
        cursor: pointer;
        z-index: 2;
        position: relative;
    }

    .hamburger {
        display: block;
        color: #333;
        padding: 0.5em 1.5em;
        cursor: pointer;
    }

    .hamburger:before {
        content: '\2630'; /* Hamburger icon */
        font-size: 1.5em;
    }

    #hamburger:checked + .hamburger:before {
        content: '\2715'; /* Change to close icon */
    }

    #hamburger:checked + .hamburger + #menuItems {
        transform: translateX(0); /* Bring the dropdown in from the left */
        display: flex;
        transition: transform 0.5s ease-in-out;
        background-color: #edeff0;
    }
    #hamburger:checked + .hamburger + #menuItems li {
        background-color: #edeff0;
    }
    
}

@media (max-width: 800px) {
    aside.sidebar {
        display: none;
    }
    .pet-image {
        max-width: 5em;
        max-height: 5em;
    }
}

@media (max-width: 600px) {
    .overlayText {
        font-size: 1.2em;
    }
}

@media (max-width: 374px) {
    #logo h1, #logo h2 {
        display: none;
    }

    .services-container {
        width: 200px;
    }

    .service-card p { 
        font-size: small;
        padding:10px;
    }

    .service-card h3 {
        padding-bottom: 0;
    }

    p.overlayText {
        display:none;
    }

    #accountcontent {
        flex-direction: column; /* Stack elements vertically */
        width: 90%; /* Ensure the container fits the screen width */
        padding: 10px; /* Adjust padding for smaller screens */
    }

    #staticTags, #pets, #pastServices, #pastBookings {
        flex: 1 1 100%; /* Make each element take full width */
        padding: 10px; /* Adjust padding for smaller screens */
        margin-bottom: 10px; /* Adjust margin for smaller screens */
    }
}

@media (max-width: 768px) {
    .ceo-container {
        flex-direction: column;
        align-items: center;
    }

    .about-section {
        padding: 20px;
    }

    #ceos h2 {
        font-size: 2rem;
    }

    #ceos p {
        font-size: 1rem;
    }

    .ceo img {
        width: 150px;
        height: 150px;
    }

    form {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    #availability .availabilityTimetable td, 
    #availability .availabilityTimetable th {
        padding: 7px 3px;
        font-size: 10px;
    }
}

@media (max-width: 454px) {
    #availability .availabilityTimetable td, 
    #availability .availabilityTimetable th {
        padding: 4px 2px;
        font-size: 7px;
    }
}

@media (max-height: 530px) {
    aside.sidebar {
        display: none;
    }
}

@media (max-width: 768px) {
    #payment-content {
        padding: 15px;
    }

    #payment-content h1 {
        font-size: 1.8em;
    }

    #payment-content p {
        font-size: 1em;
    }

    #payment-content ol li {
        font-size: 1em;
    }
}