/* Geral */
body {
    background-color: #EDE8DC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333; 
}

body>header, nav {
    background-color: #E7CCCC;
    padding: 0.5em 0;
}

/* P치gina inicial  */
.button-56 {
  background-color:#fee6e3;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
}

.button-56:hover {
  background-color: #fff;
}

.button-56:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.button-74 {
  background-color: #ffd49e;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
}

.button-74:hover {
    background-color: #fff;
  }
  
  .button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
#addBooking p{
    margin-bottom:0px ;
}

.overlayText {
    transform: translateX(-50%);
    text-align: center;
    font-size: 2em;
    color: #eadfdff0;
}

a {
    color: #333; 
    text-decoration: none;
}

#authenticationLink {
    text-decoration: underline;
    color: blue;
}

nav#menu li a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

#services li {
    background-color: #D6ABAB;
    margin-bottom: 4em;
    border-radius: 4em;
    padding: 0.5em 1em;
    text-align: center;
    cursor: pointer;
}

#services li:hover {
    background-color: #B88080;
    transform: scale(1.05); 
} 
article h2 {
    font-size: 2em;
}

article ul {
    list-style: none; 
}

#services li:last-child {
    background-color: #B88080;
}

#services li a {
    color: inherit;
    padding: 0.5em;
    font-size: inherit;
}

#services h2 {
    font-size: 2.2em; 
    color: #333;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.imageContainer img {
    width: 100%;
    height: auto;
    filter: brightness(90%);
}

.overlayText {
    color: #333;
    font-weight:550;
    padding: 0em;
    font-size: 1.5em;
}

#menuItems {
    margin-left: 0em;
    margin-right: 0.5em;
}
#menuItems li a {
    padding: 0.5em 0.1em;
    margin-left: 0.5em;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
#menuItems li.signup:last-child a {
    background-color: #D6ABAB;
    border-radius: 19px;
    align-content: center;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.service-card {
    background-color: #E7CCCC;
    border: 2px solid #422800;
    border-radius: 60px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    background: #FAD1D1;
}

.service-card h3 {
    font-size: 1.2em; 
    margin-bottom: 0.5rem;
    color: #8C5B5B;
}

.service-card p {
    font-size: 1em;
    line-height: 1.3;
    color: #333;
}

legend {
    font-size: 1.5em;
    color: #333; 
    font-weight: bold;
    text-align: center; 
}

.reviews-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 2.5em; 
    justify-content: center; 
    overflow-x: hidden; 
    padding-bottom: 2.5em;
}

.review-card {
    flex: 0 0 auto; 
    width: calc(25%); 
    min-width: 300px; 
    box-sizing: border-box; 
    padding: 1em 0; 
    margin: 0.5em; 
    border: 1px solid #ccc;
    border-radius: 15px; 
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.star-review span {
    font-size: 1.5em; 
    color: gold; 
}

.review-author, .review-date, .review-desc {
    color: #555; 
    padding-left: 2em;
    padding-right: 2em;
}

.review-author, .review-date {
    font-style: italic; 
}

/* P치gina das reviews */
#starReview input {
    display: none;
}

#starReview label {
    font-size: 30px; 
    cursor: pointer; 
}

#review h2{
text-align: center !important;
}

#review h3 {
    text-align: initial; 
}

#starReview label {
    font-size: 2rem;
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s;
}

#starReview input:checked~label {
    color: gold;
}

#starReview label:hover,
#starReview label:hover~label {
    color: gold;
}

/*P치gina do Do a service e Booking Request*/
#availability .availabilityTimetable {
    border-collapse: collapse;
    border-color: #B88080;
    border-spacing: 0;
}

#availability .availabilityTimetable td, 
#availability .availabilityTimetable th {
    border: 1px solid #B88080;
    padding: 10px 5px;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
}

#availability .availabilityTimetable th.tg-header {
    background-color: #B88080;
    color: #EDE8DC;
    font-weight: bolder;
}

#availability .availabilityTimetable td.tg-top {
    background-color: #EDE8DC;
    color: #333;
}

#availability .availabilityTimetable td.tg-available {
    background-color: #A7BDC3;
    color: #333;
}

#availability .availabilityTimetable td.tg-all {
    background-color: #EDE8DC;
    color: #333;
}

#week-navigation a {
    text-decoration: none; 
    font-size: 1.5em; 
    color: #EDE8DC; 
    background-color: #B88080;
    padding: 0px 5px;
    border-radius: 30%;
    padding-bottom: 3px;
}

#week-navigation p {
    font-size: 1em; 
    color: #000; 
}

p.note {
    font-weight: lighter;
    font-size: small;
}

#scheduledServices {
    margin-top: 1em;
    max-width: 90%;
}

.booking-info {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    color: #333;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center; 
}

.booking-details {
    flex: 1; 
    display: grid;
    grid-template-columns: auto auto; 
    column-gap: 0; 
    row-gap: 8px; 
}

.booking-title {
    font-size: 1em;
    font-weight: bold;
    color: #333;
    margin: 0;
    text-align: left; 
    padding-left: 1em;
    padding-right: 1em;
}

.booking-desc {
    margin: 0;
    text-align: left; 
    padding-left: 1em;
    padding-right: 1em;
}

.pet-profile-picture {
    width: 120px; 
    height: 120px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-left: 16px;
    border: 2px solid #ccc; 
}

.message-button {
    background-color: #D6ABAB; 
    color: white; 
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    font-size: 1em;
    padding: 0.5em 1em;
    box-shadow: none;
    transition: background-color 0.3s ease; 
    text-align:center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.message-button:hover {
    background-color: #B88080; 
    text-decoration: underline;
}
.scrollable-bookings {
    max-height: 550px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
}

.price-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    text-align: left;
    border: 1px solid #333;
}
.price-table thead th {
    background-color: #E7CCCC;
    color: #333;
    padding: 10px;
    border-bottom: 2px solid #ddd;
    border: 1px solid #333;
}
.price-table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border: 1px solid #333;
}
.price-table th, .price-table td {
    text-align: center;
}

p.small {
    font-size: 0.8em;
    color: #666;
    padding-top: 0;
    padding-bottom: 1em;
}

/* Footer Styling */
footer {
    background-color:#E7CCCC; 
    padding: 20px; 
    text-align: center; 
    border-top: 1px solid #ddd;
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #000000;
    font-weight: bold;
    
}

.footer-section ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin: 5px 0; 
}

.footer-section a {
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section form {
    background: none; 
    border: none; 
    outline: none; 
    box-shadow: none; 
}

.footer-section input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
}

.footer-section button {
    padding: 10px;
    background-color:  #D6ABAB;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
}

.footer-legal {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    border-top: 1px solid #444; 
    padding-top: 10px;
}

.footer-legal a {
    color: #9fd4e7;
    text-decoration: none;
}

.footer-legal a:hover {
    text-decoration: underline;
}

.msg_error {
    color: red;
    font-weight: bold;
}

.msg_success {
    color: #B88080;
    font-weight: bold;
    font-size: 1.5em;
}

/*Account Styling */
#staticTags, #pets, #pastServices, #pastBookings {
    border-radius: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.booking-box h3::first-letter, .service-box h3::first-letter {
    text-transform: uppercase;
}

#accountcontent h2 {
    width: 100%; 
    text-align: initial;
    margin-bottom: 20px;
    border-bottom: 2px solid #ebbfdb;
    padding-bottom: 10px;
}

.pet-image {
    border-radius: 50%; /* Circular image */
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #fff;
}

.pet-info legend {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    border-bottom: 2px solid #ebbfdb;
    padding-bottom: 5px;
}

#logoutb {
    background-color:#fee6e3;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 20px;
  }
  
  #logoutb:hover {
    background-color: #fff;
  }
  
  #logoutb:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
 

  #delete{
    background-color:#e86e5d;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 20px;
  }
  
  #delete:hover {
    background-color: #fff;
    color: #422800;
  }
  
  #delete:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

#review {
    background-color: #E7CCCC;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size:15px;
    transition: background-color 0.3s;
    margin: 0 auto; /* Centraliza no eixo horizontal */
margin-top: 11px;
}

#addPetButton:hover {
    background-color: #c181a4;
}

#newPetForm {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif; 
}

#newPetForm input,
#newPetForm textarea,
#newPetForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    font-size: 16px;
    font-family: inherit; 
    box-sizing: border-box; 
    background-color: #e7e6e6;
}

#newPetForm input:focus,
#newPetForm textarea:focus,
#newPetForm select:focus {
    outline: none;
    border-color: #4caf50; 
    box-shadow: 0 0 4px rgba(76, 175, 80, 0.6); 
}

#newPetForm button,
#newPetForm input[type="submit"] {
    padding: 12px;
    background-color: #E7CCCC;
    color: white; 
    border: none;
    border-radius: 4px;
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

#newPetForm label {
    color: #333; 
    font-size: 16px;
}

#newPetForm p {
    font-weight: bold;
    font-size: 18px;
    text-align: left; 
}

#newPetForm fieldset {
    border: 2px solid #ccc; 
    padding: 20px;
    border-radius: 8px; 
}

#newPetForm input[type="submit"]:hover,
#newPetForm button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

#addPetButton {
    background-color: #E7CCCC;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.booking-box .button:hover, .service-box .button:hover {
    background-color: #45a049;
}

.pet-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.booking-box .button, .service-box .button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px; 
    transition: background-color 0.3s; 
    margin-top: auto; 
    align-self: center; 
}

.booking-box, .service-box {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px; 
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.star-review-small span{
    display: inline-block;
  color:gold;
}

#bookingcontent a {
    text-align: center;
    margin-top:20px
}

.form-group .required {
    color: red;
    font-weight: bold;
}

#nopets, #notAProvider {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 850px;
}

#medical-needs span {
    font-weight: normal;
    color: #333;
}

#nopets a{
    color:blue;
}

.registerProvider {
    font-size: 1em;
    font-weight: 200;
    margin-top: 0;
    padding-top: 0;
    color:#444
}

/*Register Styling */
#authenticationLink:hover {
    text-decoration: underline;
}

/* P치gina FAQs*/
#faq-section {
    margin-top: 30px;
}

.faq-item {
    background-color: #ffffff;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.faq-item:hover {
    background-color: #f7f7f7;
    transform: translateY(-5px);
}

.faq-item h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin: 0;
}

#faq-section {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

#FAQcontent h1{
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}


/* AboutUs section */
#about-content {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 60px 20px;
}

.about-section {
    background-color: #fff;
    padding: 10px 30px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out; 
}
.about-section:hover {
    transform: translateY(-5px); 
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}
.about-section h2 {
    font-size: 36px;
    color: #333;;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center; 
    letter-spacing: 1px;
}

.about-section p {
    font-size: 1.2rem;
    color: #333;;
    line-height: 1.8;
    margin-bottom: 15px;
}

#ceos {
    text-align: center;
    
}

.ceo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    margin-bottom: 15px;
}

#ceos h2 {
    font-size: 2.5rem;
    color: #333;;
    margin-bottom: 10px;
    font-weight: bold;
}

#ceos p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 40px;
}

.ceo p {
    font-size: 1.1rem;
    color: #333;
}

/* Payment */
#payment-content {
    max-width: 800px;
    margin: 40px auto; /* Aumentado de 0 auto para 40px auto */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    color: #333;
}

#payment-content h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #2c3e50;
    text-align: center;
}

#payment-content p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 15px;
}

#payment-content p strong {
    font-weight: bold;
    color: #2c3e50;
}

#payment-content .msg_success {
    font-size: 1.1em;
    color: #27ae60;
    background-color: #eafaf1;
    border: 1px solid #b8e2c3;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 20px;
}

#payment-content ol {
    margin: 20px 0;
    padding-left: 20px;
}

#payment-content ol li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

#payment-content strong {
    color: #2980b9;
}

#payment-content .highlight {
    background-color: #fff8dc; /* Um tom suave de amarelo */
    padding: 5px 10px;
    border: 1px solid  #D6ABAB; /* Tom dourado */
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.2em;
    color: #2c3e50; /* Tom escuro */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

/* Messages */
#chatBox {
    background-color: #f0f0f0; 
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding-bottom:1px;
}

.back-button {
    cursor: pointer;
    font-size: 1.2em;
    width:2.25em;
    height:2.25em;
}

.back-button:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
}

#sendButton {
    background-color: #f8d7da; 
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
    width:2.25em;
    height:2.25em;
}

.messageTime {
    font-size: 0.8em;
    color: #666;
    text-align: right;
    margin-top: 5px;
}

#messageInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.senderMessage {
    background-color: #B88080; 
    border-radius: 15px 15px 0 15px; 
    padding: 10px;
    max-width: 60%;
    position: relative;
}

.recipientMessage {
    background-color: #f8d7da; 
    border-radius: 15px 15px 15px 0; 
    padding: 10px;
    max-width: 60%; 
    position: relative;
}
